ion-slides{
    background-image:url('../../assets/icon/favicon.ico');
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
}
.meteo_container{
    background-color: #2c37cf;
    color: white;
}